<img height ="100" width="100" src="{{imgURL}}">

<h2>firstname: {{firstname}}</h2>
<h2>lastname: {{lastname}}</h2>

{{#if nickname}}
    <h2>nickname: {{nickname}}</h2>
{{/if}}

<h2>email: {{email}}</h2>

<h2>birthdate: {{birthdate}}</h2>

{{#if aboutme}}
    <h2>aboutme: {{aboutme}}</h2>
{{/if}}


{{#if phone1}}
    <h2>phone1: {{phone1}}</h2>
{{/if}}

{{#if phone2}}
    <h2>phone2: {{phone2}}</h2>
{{/if}}

{{#if hometown}}
    <h2>hometown: {{hometown}}</h2>
{{/if}}

{{#if maritalStatus}}
    <h2>maritalStatus: {{maritalStatus}}</h2>
{{/if}}