<div class="container">
  <h1 class="row-title" > People you may know </h1>
  {{#each notFriends}}
      <div class="row">
        <img height ="50" width="50" src="{{imgURL}}">
        <form action="notFriendPage" method="post" id="{{otherId}}">
          <input type="hidden" id="otherId" name="otherId" value="{{otherId}}">
          <a href="#" onclick="document.getElementById('{{otherId}}').submit();"><h4">{{otherName}}</h4></a>
        </form>
        <form action="addFriend" method="post">
          <input type="hidden" id="otherId" name="otherId" value="{{otherId}}">
          <button type="submit" class="btn">Add Friend</button>
        </form>
      </div>
  {{/each}}
</div>


<style type="text/css">
  
  .container {
  width:50%;
  margin: 0px auto;
  margin-top:5%;
  padding: 30px;
  border:1px solid gray;
  background:white;
  text-align:left;
}

.room-title{
  text-align: center;
  color: #128d5c;
}

.row {
  width:80%;
  margin: 0px auto;
  margin-top:3%;
  padding:10px;
  border:1px solid gray;
  background: white;
  box-shadow: 7px 7px 3px grey;
}

.btn{
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #014b7c;
  border: none;
  border-radius: 5px;
  margin-left: 82%;
}
  
</style>